.form-container {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 1.2em;
    form {
        width: 30em;
        padding: 5px;
    }
}

.form-group {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.msg-success {
    color: green;
    font-weight: bold;
    text-align: center;
}

.msg-error {
    color:red;
}