<div class="form-container">
  <h3>Simple Form</h3>
  <form #f="ngForm" (submit)="onSubmit(f)">
    <div class="form-group">
      <app-input
        typeField="text"
        nameField="firstName"
        labelField="First Name"
        [required]="fieldRequired">
      </app-input>
    </div>
    <div class="form-group">
      <app-input 
        typeField="text" 
        nameField="lastName" 
        labelField="Last name">
      </app-input>
    </div>
    <div class="form-group">
      <app-input 
        typeField="email" 
        nameField="email" 
        labelField="E-mail">
      </app-input>
    </div>
    <div class="form-group">
      <app-textarea
        [rowsCount]="textAreaRowsCount"
        nameField="message"
        labelField="Message"
        [required]="fieldRequired">
      </app-textarea>
    </div>
    <div class="form-group">
      <app-input
        typeField="number"
        nameField="numberOfThings"
        labelField="Number of things">
      </app-input>
    </div>
    <div class="form-group">
      <app-button buttonType="submit" buttonText="Send"></app-button>
    </div>
    <p *ngIf="submitted" class="msg-success">Form was sent! Thank you!</p>
    <p *ngIf="formInvalid" class="msg-error">Form has errors!</p>
  </form>
</div>